.info-line {
  width: calc(100% - 6rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-right: 4rem;
}
.info-line__key {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.info-line__key img {
  margin-left: 0.7rem;
  width: 20px;
}
.info-line__value {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 2rem;

  min-width: 70%;
  border-bottom: 3px solid #d9d9d9d9;
  margin-top: 0.7rem;
  font-size: 14px;
}
.profile__avatar {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .info-line {
    margin-right: 1rem;
    font-size: 12px;
  }
  .info-line {
    width: calc(100% - 2rem);
  }
  .info-line__value {
    width: calc(60% - 2rem);
  }
  .info-line__value p {
    font-size: 10px;
  }
  .info-line__key {
    font-size: 12px;
  }
}
