.info-line {
  width: 100%;
  background-color: var(--color-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}
.info-line__value {
  margin-top: 1rem;
  font-size: 14px;
}
