.navbar {
  position: sticky;
  top: 0;
  padding-right: 2rem;
  padding-left: 2rem;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  z-index: 9999;
}
.mobile-navbar {
  width: 100%;
  display: none;
  margin-top: -15px;
}
.navbar__search-mobile {
  width: 100%;
}
.mobile-input {
  width: 100%;
}
.navbar__logo {
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

.navbar__container {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__search {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}

.navbar__search__input {
  display: flex;
  padding-left: 30px;
  background-color: var(--color-bg-second);
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--color-text-main);
  text-align: start;
}

.search__icon {
  position: absolute;
  bottom: 7px;
  left: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.navbar__search__input::placeholder {
  color: var(--color-subtext);
}

.navbar__cart {
  height: 48px;
  margin-right: 1rem;
  cursor: pointer;
}

.navbar__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.register {
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 185px;
  width: 101px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  color: var(--color-text-secondery);
  background-color: var(--color-text-main);
  border-radius: 20px;
  padding: 0 20px;
  cursor: pointer;
}

.register p {
  width: 101px;
}

.login__arrow {
  width: 30px;
  margin-right: 10px;
}
.search__input--mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* Adjust navbar styles for small screens */
  .navbar {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .navbar__container {
    min-width: auto;
  }

  .navbar__search {
    width: 30%;
  }

  .navbar__search__input {
    font-size: 14px;
  }

  .register p {
    display: none;
  }
  .login {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .navbar__logo {
    margin-right: 0.5rem;
  }

  .navbar__container {
    min-width: 70%;
  }

  .navbar__search {
    width: 40%;
  }

  .navbar__search__input {
    height: 30px;
    font-size: 14px;
  }

  .search__icon {
    bottom: 5px;
    width: 20px;
    height: 20px;
  }

  .navbar__cart {
    height: 40px;
  }

  .register {
    font-size: 14px;
    line-height: 36px;
  }

  .login {
    min-width: 120px;
    height: 35px;

    line-height: 36px;
    padding: 0 15px;
  }
  .login p {
    font-size: 14px;
  }
  .login__arrow {
    display: none;
  }
  .register p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .navbar {
    height: 100px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar__search-web {
    visibility: hidden;
  }
  .mobile-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 399px) {
  .navbar__logo {
    margin-right: 3rem;
  }

  .navbar__container {
    min-width: 70%;
  }

  .navbar__search-web {
    display: none;
    width: 40%;
  }

  .navbar__search__input {
    height: 30px;
    font-size: 14px;
  }

  .search__icon {
    bottom: 5px;
    width: 20px;
    height: 20px;
  }

  .navbar__cart {
    height: 40px;
  }

  .register {
    font-size: 14px;
  }

  .login {
    min-width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 36px;
    padding: 0 10px;
  }

  .login p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .navbar__search-mobile {
    width: 100%;
  }
}
