@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --font-family: "Noto Kufi Arabic";
  --en-font: "Roboto", sans-serif;
  --color-bg: #ffff;
  --color-bg-second: #f8f8f8;
  --color-footer: #152533;
  --color-text-main: black;
  --color-text-secondery: #fff;
  --color-subtext: #666666;
}
