footer {
  color: var(--color-text-secondery);
  height: 60vh;
  width: 100%;
  background-color: var(--color-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}
.footer__logo {
  margin-top: 4rem;
}
.footer__info {
  height: calc(100% - 4rem);
  width: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 0rem 2rem;
}
.footer__info__contant {
  width: calc(50% - 3rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 3rem 0 0;
}
.footer__info__contant h1,
.footer__info__social h1 {
  margin-bottom: 2rem;
}
.footer__info__contant--email {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.footer__info__contant--email p {
  display: inline-block;
  font-size: 14px;
  margin: 0rem 0 0 1rem;
}

.footer__info__social {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.footer__info__social--icons .social-icon {
  display: inline-block;
  font-size: 14px;
  height: 40px;
  width: 40px;
  margin: 0rem 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__info__social--icons .facebook {
  background-image: url("../../assets/facebook.svg");
}

.footer__info__social--icons .twitter {
  background-image: url("../../assets/twitter.svg");
}

.footer__info__social--icons .instagram {
  background-image: url("../../assets/instagram.svg");
}

.footer__info__social--icons .whatsapp {
  background-image: url("../../assets/whatsapp.svg");
}
br {
  display: inline-block;
  width: 90vw;
  height: 5px;
  color: #ffff;
  background-color: var(--color-text-secondery);
}
.footer__rights {
  font-size: 16px;
  font-weight: 200;
  margin: 0.6rem;
}
.eng-font {
  font-family: var(--en-font);
}
@media screen and (max-width: 768px) {
  .footer__info__contant h1,
  .footer__info__social h1 {
    font-size: 20px;
  }
  .footer__info__contant--email p {
    font-size: 14px;
  }
  .footer__info__social--icons .social-icon {
    height: 30px;
    width: 30px;
  }

  .footer__info {
    align-items: center;
  }
  .footer__info__contant {
    width: calc(100% - 3rem);
    align-items: center;
  }
  .footer__info__social {
    width: 100%;
    align-items: center;
  }

  .footer__info__social--icons .social-icon {
    margin: 0.5rem 1rem;
  }
  .footer__rights {
    font-size: 20px;
  }
}
@media screen and (max-width: 670px) {
  .footer__info__contant h1,
  .footer__info__social h1 {
    font-size: 16px;
  }
  .footer__info__contant--email p {
    font-size: 10px;
  }
  .footer__info__social--icons .social-icon {
    height: 20px;
    width: 20px;
  }
  .footer__info__social--icons .social-icon {
    margin: 0.5rem 0.5rem;
  }
  .footer__rights {
    font-size: 14px;
  }
  .footer__info__contant {
    margin: 0 0 0rem 0;
  }
}
@media screen and (max-width: 400px) {
  footer {
    height: 40vh;
  }
  .footer__info {
    height: calc(100% - 2rem);
    margin: 0rem 1rem;
  }
  .footer__logo {
    margin-top: 2rem;
  }
  .footer__info__contant h1,
  .footer__info__social h1 {
    font-size: 12px;
  }
  .footer__info__contant--email p {
    font-size: 8px;
  }
  .footer__info__social--icons .social-icon {
    height: 16px;
    width: 16px;
  }
  .footer__info__social--icons .social-icon {
    margin: 0.3rem 0.3rem;
  }
  .footer__rights {
    font-size: 12px;
  }
}
